<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>

  <log4net>
    <appender name="rabbitmq.gelf.appender" type="rabbitmq.log4net.gelf.appender.GelfRabbitMqAppender, rabbitmq.log4net.gelf.appender">
      <HostName value="192.168.196.128" />
      <VirtualHost value="/" />
      <Port value="5672" />
      <Exchange value="test-x" />
      <Username value="netacademia" />
      <Password value="neta" />
      <Facility value="sample-application" />
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="rabbitmq.gelf.appender" />
    </root>
  
  </log4net>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>